*{margin:0;padding:0;}
body{	
	font-family: 'Roboto', sans-serif;
	background-color: #ccc;	
}
.toast{
	background-color: #424242;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}
#toast-container {
    /* right: 0; */
    max-width: 30%;
    /* left: 0; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: : 0;
    
}
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(MaterialIcons-Regular.woff2) format('woff2'),
	url(MaterialIcons-Regular.woff) format('woff'),
	url(MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}
.row{
	margin: 0;
}
.container{
	overflow-x:hidden;
	position: absolute;
	max-width: 100% !important;
	width: 100%;
	height: 100%;
	background-color: #ccc;	
}
.subcontainer{
	position: relative;
	border-radius: 4px;
	border:1px solid #ccc;
	background-color: #e6e6e6;
	float: left;
}
.subcontainer h3{
	text-align: center;
	font-size: 2em;
}
@font-face {
    font-family: 'digital-clock-font';
    src: url('font/digital-7.ttf');;
}
.subcontainer h1{
	text-align: center;
	font-size: 7.5em;
 	font-family:'Verdana';
 	
}

.titulochamada{
	border: 1px solid;
	margin: 0;
	background-color: #5e69d4;
	color: #fff;
	padding: 10px;
}
.proximo li{
	float: left;
	margin-left: 2%;
	font-size: 1.5em;
}
.fila {
	margin-left: 5px;
}
.fila li{
	float: left;
	font-size: 2em;
	width: 5%;
	text-align: center;
	border:1px solid #000;
}
.fila .presente,ul i.presente{
	background-color: #3aa13d;	
	text-shadow: 2px 2px 5px #000;
}
.presente{
	background-color: #3aa13d;	
	text-shadow: 2px 2px 5px #000;
}
.dafault{
	background-color: #787878;	
	text-shadow: 2px 2px 5px #000;
}
.ausente{
	background-color: #e3f107;	
	text-shadow: 2px 2px 5px #000;
}
.problema{
	background-color:#b12c2c;
	text-shadow: 2px 2px 5px #000;
}
.plantao{
	color:#0918df;	
	text-shadow: 2px 2px 5px #494848;
}
.biqueira{
	color:#860606;
	text-shadow: 2px 2px 5px #494848;
}
.p{
	font-size: 1.3em;
}
.voltas{
	font-size: 0.75em;
	float: right;
	color: #fff;
	margin-left: 0px;
	margin-right: 10px;
}
td{
	padding: 0px !important;
	font-size: 1.5em;
}
li.plantao,li.biqueira  {
	font-size: 1.5em;
	width: 10%;
}
.row .col{
	padding: 0px;
}
.observacao{
	padding: 5px;
	border-radius: 4px;
	margin: 5px;
	border: 1px solid;
}
.observacao ul li{
	float: left;
	margin-left: 5%;
	font-size: 2em;
}
.grabbable {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
.statustaxi {
	color:#000;
	float:left;
	margin-left:5px;
}
p.presente_taxi{
	font-size: 1em;
	text-shadow: 2px 2px 5px #000;
}
p.ausente_taxi{
	font-size: 1em;
	text-shadow: 2px 2px 5px #000;
}
p.problema_taxi{
	font-size: 1em;
	text-shadow: 2px 2px 5px #000;
}
/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.btnbottom{
	position: absolute;
	bottom: 0;
	background-color: #4b4848;
}
.btnbottom:active{
	background-color: #1a1a1a;	
}
.btnbottom:hover{
	background-color: #1a1a1a;
}
#conteudo_painel{
	margin-top: 10px;
	padding: 10px;
	height: 80%;
}
.configuracao{
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border: 1px solid;
	border-color: #afafaf;
}
#cancelar{
	float: right;
	color:#000;
}
#container,.painel,#configFila,#horarioFila{
	display: none;
}
#listafila2{
	margin:1px;
	width: 5%;
	text-align: center;
	text-shadow: 2px 2px 5px #000;
	border-radius: 4px;box-shadow: 5px 5px 5px #b2b0b0;
	margin-bottom: 20px;
}
.blink{
	background-color: #2b7bc7;
	color: #fff;
	border-radius: 4px;
	animation-duration: 0.5s;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}
@keyframes blink{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
@media screen and (max-width: 1024px){
	.fila li{
		float: left;
		width: 10%;
		text-align: center;
		font-size: 1em;
		border:1px solid #000;
	}
	#listafila2{
		width: 5%;
		font-size: 0.75em;
	}
	.observacao ul li{
		float: left;
		margin-left: 5%;
		font-size: 1em;
	}
	td{
		padding: 15px 5px !important;
		font-size: 1em;
	}
	.btnbottom{
		height: 40px;
		font-size: 2em;
	}
}